@font-face {
  font-family: "Nexa-Xbold";
  src: url("/static/Nexa/Nexa_V2_2020/WEB/NexaDemo-Bold.woff");
}
@font-face {
  font-family: "Lato-Regular";
  src: url("/static/Lato-Regular/Lato-Regular.ttf");
}
